body {
    text-align: center;
    background-color: #00225e;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


#box-animazione {
    display: inline-block;
    margin-top: 10%;
    margin-left: 0.3%;
}


.box-foto {
    width: 100%;
}

.sinner_musetti {
    width: 88%;
    height: auto;
    display: inline-block;
    margin-top: 24%;
    margin-left: 1%;
    position: relative;
}

.testo {
    position: absolute;
    bottom: 34%;
    left: 20.5%;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gold;
}


@media (min-width: 992px) {

    #box-animazione {
        display: inline-block;
        margin-top: 6%;
        margin-left: 0.3%;
    }

    .sinner_musetti {
        width: 36%;
        height: auto;
        display: inline-block;
        left: 31%;
        bottom: 2%;
        position: absolute;
        z-index: 1;
    }

    .testo {
    position: absolute;;
    bottom: 40%;
    left: 19%;
    font-size: 7rem;
    transform: rotate(-90deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gold;
}

}