html{
    font-size: 16px;
}

body{
    padding: 1rem;
}

ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.menu{
    display: flex;
}

li {
    font-size: 1.5rem;
}

a, a:link{
    color: rgb(154, 12, 255);
    text-decoration: none;
}

a:visited {
    color:rgb(92, 0, 157)
}


a:hover, a:focus {
    color: rgb(203, 0, 180);

}

a:active{
    color:aqua
}
