html{
    background-color: rgb(53, 1, 102);
    
}


h1{
    color:chocolate;
    font-size: 30px;
    
}

h2{
    color: rgb(244, 244, 244);
}

body{
    padding: 1rem;
}

ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.menu{
    display: flex;
}

li {
    font-size: 1.5rem;
}

a, a:link{
    color:chocolate;
    text-decoration: none;
}

a:visited {
    color:rgb(244, 244, 244);
}


a:hover, a:focus {
    color:blanchedalmond;

}

a:active{
    color:chocolate;
}
