body{
    color: rgb(193, 191, 191);
    background-color: rgb(34, 0, 76);
    font-family: "Lora", serif;
}

#page {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#About-me {
    background-color: hsla(277, 32%, 40%, 0.2);
}

#work {
    background-color: hsla(278, 19%, 56%, 0.2);
}

#Contacts {
    background-color: hsla(277, 60%, 65%, 0.2);
}


.section {
    padding: 16px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}




#intro-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}


.button {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-weight: bold;
    z-index: 10;
}


.div { 
    
    color: white;
    font-family: monospace;
    text-align: center;
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .gallery {
        flex-direction: row;
        justify-content: space-between;
    }
    .gallery figure {
        width: 30%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }